.layer1{
    background-color:aqua ;
}

.layer2{
    background-color: aquamarine;
}

.layer3{
    background-color:cadetblue;
}

.layer4{
    background-color: darkolivegreen;
}

.layer5{
    background-color: darkseagreen;
}
