.navbar-nav{
    width: 100%;
}
.title {
  font-family: 'StopmotionRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 30px;
   color: rgb(255, 248, 234);

}



#navbar{
  background-color: rgb(158, 118, 118)!important;
}

body {
  background-color: rgb(129, 91, 91);
}
.navbar-nav > span:hover {
  cursor: pointer;
}
.navbar-nav > span {
  font-family: 'ConnectionRegular';
   font-weight: normal;
   font-style: normal;
  color: rgb(255, 248, 234);
  
}
.loginButton {
    margin-left: auto;
}
.modal-header{
    border-bottom: none;
}
.form-modal-body{
    padding: 10px;
    height: 600px;
}

form > div > .button-flexBox{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
form > div > .button-flexBox > button{
    width: 100%;
}
.form-floating>label{
    left: 10px!important;
}

.navIcon {
  width: 30px;
  height: 30px;
  margin-right: 4px;
  border-radius: 50%;
}
.dropdown {
  margin-left: auto;
}
#userIcon-navbar{
  margin-left: auto;
  margin-right: 10px;
  display:flex;
  align-items: center;
  background-color: rgb(129, 91, 91);
}
.dropdown-menu{
  background-color: rgb(158, 118, 118);
}

.dropdown-item {
  color: rgb(255, 248, 234)!important;
}
.dropdown-item:hover{
  color: var(--bs-nav-link-hover-color)!important;
}
#userIcon-navbar::after{
  content: attr(username);
  font-family: 'MedievalSharpBookOblique';
}


/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


/* game section */
.gameSession{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.gameBox{
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.gBoxCount{
  display: flex;
  justify-content: space-between;
}

.gameCoverDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* profile section */
#profile {
  max-width: 1400px;
  margin: 0px auto;
}
.profileForm{
  width: 500px
}

.profileContent{
  padding-top: 100px;
  width: 500px;
  margin-left: 50%;
}

.profile_PrivateForm{
  width: 500px;
}

.list-group{
  width: 200px;
}

.profile-container{
  width: 250px;
  position: relative;
  margin: 0px auto;
  text-align: center;
}

#userIcon{
  display:none;
}


.changeIcon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  
}

.input-group{
  margin-top: 10px;
}

.profile-container::after{
  content:" ";
  display: block;
  background-image: url(239220.png);  
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right:0px;
  background-size: 50px 50px;
  transition: all 0.5s;
  opacity: 0;
 
}

.profile-container::before{
  content: '';
  background: repeating-linear-gradient(45deg,transparent,transparent 10px,rgba(255,255,255,0.1) 10px,rgba(255,255,255,0.1) 20px);
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: all 0.3s;
    border-radius: 50%;
}
.profile-container:hover:before{ opacity: 1; }

.profile-container:hover{
  cursor: pointer;
  
}
.profile-container:hover::after{
  opacity: 1;
}

.g-0{
  background-color: rgb(89, 69, 69);
  border: 2px solid rgb(158, 118, 118)!important;
  
}

.g-0 > div{
  color:rgb(255, 248, 234)
}
.gBoxName {
  font-family: 'ConnectionRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 35px;
  
}
.card-text{
  font-family: 'ConnectionRegular';
   font-weight: normal;
   font-style: normal;
   font-size: 15px;
}



.card{
  --bs-card-border-color: transparent !important;
  --bs-card-border-width:0px solid !important;
}

.homeTitle{
  font-family: 'ConnectionRegular';
  font-weight: bold;
  font-style: normal;
  margin-top: 10px;
  margin-left: 10px;
  color:rgb(255, 248, 234)
}
/* gameForm */
::placeholder{
  font-family: 'ConnectionRegular';
  font-weight: normal;
  font-style: normal;
  color: rgb(255, 248, 234)!important;
}
.form-control{
  
  border-radius: 0% !important;
  border: 0px !important;
  background-color: #594545;
}
.input-group-text {
  border-radius: 0% !important;
  border: 0px !important;
  background-color: #594545;
  color: rgb(255, 248, 234)!important;
  font-family: 'ConnectionRegular';
  font-weight: normal;
  font-style: normal;
}
.form-select {
  border-radius: 0% !important;
  border: 0px !important;
  background-color: #594545;
  color: rgb(255, 248, 234)!important;
  font-family: 'ConnectionRegular';
  font-weight: normal;
  font-style: normal;
}


.gameFormContainer{
  max-width: 1400px;
  margin: 0px auto;
}
.pixel2 > p{
  text-align: center;
  margin-bottom: 0px;
}
.container {
  margin: 50px;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.pixel, .pixel2 {
  font-size: 25px;
  color: white;
  height: auto;
  margin: 10px;
  font-family: 'ConnectionRegular';
   font-weight: normal;
   font-style: normal;
  
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  
  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixel:active, .pixel2:active {
  top: 2px;
}


.pixel2 {
  position: relative;
  display: block;
  margin: 10px;
  font-family: 'ConnectionRegular';
   font-weight: normal;
   font-style: normal;
  
  font-size: 25px;
  color: white;
}

.pixel2::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: rgb(158, 118, 118);
  z-index: -1;
}

.pixel2::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: rgb(158, 118, 118);
  z-index: -1;
}

.pixel2 {
  padding: 10px 10px;
  position: relative;
  background: rgb(158, 118, 118);
  width: auto;
  z-index: 2;
}
#username{
  font-family: 'ConnectionRegular';
  font-weight: normal;
  font-style: normal;
  color: rgb(255, 248, 234);
}


/* editGameForm */
/* @import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@mixin step4( $width, $color, $bgcolor ) {
  box-shadow:
    $width 0 $bgcolor,
    -$width 0 $bgcolor,
    0 (-$width) $bgcolor,
    0 $width $bgcolor,
    2*$width 0 $bgcolor,
    -2*$width 0 $bgcolor,
    0 (-2*$width) $bgcolor,
    0 2*$width $bgcolor, 
    0 0 0 $width $bgcolor,
    3*$width 0 $bgcolor,
    -3*$width 0 $bgcolor, 
    0 3*$width $bgcolor,
    0 (-3*$width) $bgcolor,
    0 (-$width) 0 $width $bgcolor,
    0 $width 0 $width $bgcolor,
    $width 0 0 $width $bgcolor,
    -$width 0 0 $width $bgcolor,
    4*$width 0 $color, 
    -4*$width 0 $color,
    0 (-4*$width) $color, 
    0 4*$width $color,
    2*$width 0 0 $width $color,
    -2*$width 0 0 $width $color,
    0 2*$width 0 $width $color,
    0 (-2*$width) 0 $width $color,
    0 0 0 2*$width $color;
    margin: 4*$width auto;
} */

#editGameFormModal{
  background-color: rgb(129, 91, 91);
  padding: 15px;
  border:rgb(255, 248, 234);
  border-style: dashed;
  border-radius: 5%;
  font-family: 'ConnectionRegular';
  color: rgb(255, 248, 234);


  /* @include step4( 5px, green, white ); */
  /* https://codepen.io/albpara/pen/JjRarO */
}

/* #editGameFormModal > .btn{
  display: flex;
  justify-content: space-between;
  background-color: #fb8332;
} */
#gameLogo{
  height: 60px;
}